<footer>
    <div class="main_footer__block pb-0 pt-60">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer_box__block">
                        <h4>About Us</h4>
                        <p>Innovation Spark is a 501(c)(3) nonprofit committed to the advancement of STEM education throughout the Greater Houston Area. All of its staff work as unpaid volunteers, so all funds go directly to the execution of programs like Maker Faire. </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer_box__block">
                        <h4>Recent Posts</h4>
                        <ul>
                            <li><a href="#">Greater Houston Hamfest / iSparkfest</a></li>
                            <li><a href="#">Call to Makers for the 5th Annual Houston Maker Faire 2017</a></li>
                            <li><a href="#">Houston Makerspace Crawl 2017</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer_box__block">
                        <h4>Quick Links</h4>
                        <ul>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Maker Directory</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer_box__block address-box">
                        <h4>Contact info</h4>
                        <ul>
                            <li> <i class="fa fa-phone"></i>
                                <p>Call Us +56 (0) 000 345 0251</p>
                            </li>
                            <li> <i class="fa fa-envelope-o"></i>
                                <p><a href="mailto:info@innovation-spark.org">info@innovation-spark.org</a></p>
                            </li>
                            <li> <i class="fa fa-map-marker"></i>
                                <p>Houston, TX, United States</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyriight_block ptb-20 mt-20">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <p>Copyright © 2022 Innovation Spark All Rights Reserved.</p>
                    </div>
                    <div class="col-sm-6 text-right">
                        <p>Design and Developed by <a href="#">thesparksolutionz.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
